@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*primary colors*/
    --soft_red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark_desaturated_cyan: hsl(167, 40%, 24%);
    --dark_blue: hsl(198, 62%, 26%);
    --dark_moderate_cyan: hsl(168, 34%, 41%);

    /*Neutral colors*/
    --very_dark_desaturated_blue: hsl(212, 27%, 19%);
    --very_dark_grayish_blue: hsl(213, 9%, 39%);
    --dark_grayish_blue: hsl(232, 10%, 55%);
    --grayish_blue: hsl(210, 4%, 67%);

    /*Fonts*/
    --Barlow: 'Barlow', sans-serif;
    --Fraunces: 'Fraunces', serif;
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    height: 80vh;
    background-image: url(images/desktop/image-header.jpg);
    background-position: center center;
    background-size: 100% 100%;
}

.logo-menu-wraper{
    width: 100%;
}

.logo{
    width: 50%;
    float: left;
    padding: 20px 0 20px 20px;
    margin-top: 10px;
}

.menu-desktop{
    width: 50%;
    float: left;
    margin-top: 10px;
}

.menu-desktop ul{
    list-style-type: none;
    float: right;
}

.menu-desktop ul li{
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.menu-desktop ul li:hover{
    background-color: rgba(255, 255, 255, 0.288) !important;
    border-radius: 40px;
}

.menu-desktop ul li:hover a{
    color: white !important;
}

.menu-desktop ul li a{
    text-decoration: none;
    color: white;
    font-family: var(--Barlow);
}

.title-text{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.title-text{
    color: white;
    font-size: 28px;
    font-family: var(--Fraunces);
    letter-spacing: 10px;
}

.arrow-down{
    width: 100%;
    text-align: center;
    margin-top: 90px;
}

section.mosaico{
    width: 100%;
}

section.mosaico > .mosaico1,
.mosaico2,
.mosaico3{
    display: flex;
    align-items: center;
}

.w50{
    width: 50%;
}

.mosaico1 > .img-mosaico1 > img{
    width: 100%;
    max-height: 600px;
}

.mosaico1 > .text1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mosaico1 > .text1 > .text-wraper{
    max-width: 450px;
}

.mosaico1 > .text1 h2{
    font-family: var(--Fraunces);
    font-weight: 900;
    max-width: 450px;
    font-size: 48px;
}

.mosaico1 > .text1 p{
    max-width: 450px;
    margin-top: 20px;
    font-size: 18px;
    color: var(--dark_grayish_blue);
}

.mosaico1 > .text1 > .text-wraper > button{
    width: 110px;
    align-self: flex-start;
    margin-top: 30px;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid yellow;
    border-left: 0;
    border-radius: 20px;
    background-color: white;
    font-family: var(--Fraunces);
    cursor: pointer;
}

.mosaico2{
    display: flex;
    flex-direction: row-reverse;
}

.mosaico2 > .img-mosaico2 > img{
    width: 100%;
    max-height: 600px;
}


.mosaico2 > .text2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mosaico2 > .text2 > .text-wraper{
    max-width: 450px;
}

.mosaico2 > .text2 h2{
    font-family: var(--Fraunces);
    font-weight: 900;
    max-width: 450px;
    font-size: 48px;
}

.mosaico2 > .text2 p{
    max-width: 450px;
    margin-top: 20px;
    font-size: 18px;
    color: var(--dark_grayish_blue);
    font-family: var(--Barlow);
}

.mosaico2 > .text2 > .text-wraper > button{
    width: 110px;
    align-self: flex-start;
    margin-top: 30px;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid var(--soft_red);
    border-left: 0;
    border-radius: 20px;
    background-color: white;
    font-family: var(--Fraunces);
    cursor: pointer;
}

.mosaico3 > .img-mosaico3{
    display: flex;
    align-items: flex-end;
    height: 600px;
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mosaico3 > .img-mosaico3 > .text-inside{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 130px;
    text-align: center;
}

.mosaico3 > .img-mosaico3 > .text-inside > .text-inside-wraper{
    max-width: 400px;
}

.mosaico3 > .img-mosaico3 > .text-inside > .text-inside-wraper h3{
    font-family: var(--Fraunces);
    color: var(--dark_desaturated_cyan);
    font-size: 25px;
    font-weight: 900;
}

.mosaico3 > .img-mosaico3 > .text-inside > .text-inside-wraper p{
    margin-top: 40px;
    font-family: var(--Barlow);
    color: var(--dark_desaturated_cyan);
}

.mosaico3 > .img-mosaico4{
    display: flex;
    align-items: flex-end;
    height: 600px;
    background-image: url(images/desktop/image-photography.jpg);
    background-size: 100% 100%;
}

.mosaico3 > .img-mosaico4 > .text-inside{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 130px;
    text-align: center;
}

.mosaico3 > .img-mosaico4 > .text-inside > .text-inside-wraper{
    max-width: 400px;
}

.mosaico3 > .img-mosaico4 > .text-inside > .text-inside-wraper h3{
    font-family: var(--Fraunces);
    color: var(--dark_blue);
    font-size: 25px;
    font-weight: 900;
}

.mosaico3 > .img-mosaico4 > .text-inside > .text-inside-wraper p{
    margin-top: 40px;
    font-family: var(--Barlow);
    color: var(--dark_blue);
}


