@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*primary colors*/
    --soft_red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark_desaturated_cyan: hsl(167, 40%, 24%);
    --dark_blue: hsl(198, 62%, 26%);
    --dark_moderate_cyan: hsl(168, 34%, 41%);

    /*Neutral colors*/
    --very_dark_desaturated_blue: hsl(212, 27%, 19%);
    --very_dark_grayish_blue: hsl(213, 9%, 39%);
    --dark_grayish_blue: hsl(232, 10%, 55%);
    --grayish_blue: hsl(210, 4%, 67%);

    /*Fonts*/
    --Barlow: 'Barlow', sans-serif;
    --Fraunces: 'Fraunces', serif;
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    height: 80vh;
    background-image: url(images/desktop/image-header.jpg);
    background-position: center center;
    background-size: cover;
}





